/* You can add global styles to this file, and also import other style files */
// html, body, p {
//     color: white;
// }

$main-color: #2aeda5d2;
$main-text-color: white;
$main-color-variation: #01c7ada8;
$main-color-light: #35f29a;
$primary-gradient: linear-gradient(
    to right bottom,
    #2aeda5d2,
    #01c7ada8
);

.listing {
  &:hover, &:focus {
    text-decoration: none;
  }
}

#rentalListing {
    .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  
  
    /* SINGLE CARD STYLES*/
    .bwm-card {
      border: none;
  
  
      .card-block {
        padding-top: 8px;
  
  
        .card-subtitle {
          margin: 0;
          font-weight: 500;
          font-size: 12px;
          text-transform: uppercase;
          color: $main-color-variation;
        }
  
  
  
  
        .card-title {
          font-size: 19px;
          margin: 3px 0;
          color: $main-color;
        }
  
  
        .card-text {
          font-size: 14px;
          font-weight: 300;
          color: #7e7e7e;
          margin-bottom: 0;
        }
      }
    }
  }